<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find ranger_description)/urdf/common_macros.xacro"/>

  <xacro:macro name="ranger_mini_chassis">
    
    <!-- Base Footprint: Projected center on the ground -->
    <link name="base_footprint"/>

    <joint name="base_footprint_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="base_footprint" />
      <child link="base_link" />
    </joint>

    <!-- Base Link: The physical robot chassis -->
    <link name="base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://ranger_description/meshes/ranger_base.dae" scale="1000 1000 1000"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0.05" rpy="0 0 0"/>
        <geometry>
          <box size="0.5 0.35 0.15"/>
        </geometry>
      </collision>
      <!-- Industrial-grade inertia definition for AgileX Ranger Mini (approx 10kg empty) -->
      <xacro:box_inertia m="10.0" x="0.6" y="0.4" z="0.2"/>
    </link>

  </xacro:macro>

</robot>
